<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

<!--
<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /base_link 1000"/>
<node pkg="tf" type="static_transform_publisher" name="link_to_odom" args="0.0 0.0 0.0 0 0 0.0 /base_link      /odom 1000"/>
-->

<!--  ****** Maps *****  -->
<node name="map_server" pkg="map_server" type="map_server" args="$(find detached_planner)/maps/maze.yaml" output="screen">
    <param name="frame_id" value="map"/>
</node>


<!--  ************** Stage Simulator ***************  -->
<node pkg="stage_ros" type="stageros" name="stageros" args="$(find detached_planner)/stage/maze_diff_drive.world">
    <param name="base_watchdog_timeout" value="0.2"/>
</node>

<group ns="robot_0">
    <param name="tf_prefix" value="robot_0" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find detached_planner)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find detached_planner)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find detached_planner)/cfg/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/move_base.yaml" command="load" />
      <param name="local_costmap/robot_base_frame" value="robot_0/base_link" />
      <param name="global_costmap/robot_base_frame" value="robot_0/base_link" />
      <param name="local_costmap/global_frame" value="robot_0/odom" />
      <param name="global_costmap/observation_sources" value="robot_0/base_scan" />
      <param name="local_costmap/observation_sources" value="robot_0/base_scan" />
      <param name="global_costmap/obstacle_layer/observation_sources" value="robot_0/base_scan" />
      <param name="local_costmap/obstacle_layer/observation_sources" value="robot_0/base_scan" />
 
    </node>


    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="robot_0/odom" />
      <param name="base_frame_id" value="robot_0/base_link" />
    </node>
</group>
<group ns="robot_1">
    <param name="tf_prefix" value="robot_1" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find detached_planner)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find detached_planner)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find detached_planner)/cfg/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/move_base.yaml" command="load" />
      <param name="local_costmap/robot_base_frame" value="robot_1/base_link" />
      <param name="global_costmap/robot_base_frame" value="robot_1/base_link" />
      <param name="local_costmap/global_frame" value="robot_1/odom" />
      <param name="global_costmap/observation_sources" value="robot_1/base_scan" />
      <param name="local_costmap/observation_sources" value="robot_1/base_scan" />
      <param name="global_costmap/obstacle_layer/observation_sources" value="robot_1/base_scan" />
      <param name="local_costmap/obstacle_layer/observation_sources" value="robot_1/base_scan" />
 
    </node>


    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="robot_1/odom" />
      <param name="base_frame_id" value="robot_1/base_link" />
    </node>
</group>
<group ns="robot_2">
    <param name="tf_prefix" value="robot_2" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find detached_planner)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find detached_planner)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find detached_planner)/cfg/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/move_base.yaml" command="load" />
      <param name="local_costmap/robot_base_frame" value="robot_2/base_link" />
      <param name="global_costmap/robot_base_frame" value="robot_2/base_link" />
      <param name="local_costmap/global_frame" value="robot_2/odom" />
      <param name="global_costmap/observation_sources" value="robot_2/base_scan" />
      <param name="local_costmap/observation_sources" value="robot_2/base_scan" />
      <param name="global_costmap/obstacle_layer/observation_sources" value="robot_2/base_scan" />
      <param name="local_costmap/obstacle_layer/observation_sources" value="robot_2/base_scan" />
 
    </node>


    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="robot_2/odom" />
      <param name="base_frame_id" value="robot_2/base_link" />
    </node>
</group>
<group ns="robot_3">
    <param name="tf_prefix" value="robot_3" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find detached_planner)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find detached_planner)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find detached_planner)/cfg/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find detached_planner)/cfg/move_base.yaml" command="load" />
      <param name="local_costmap/robot_base_frame" value="robot_3/base_link" />
      <param name="global_costmap/robot_base_frame" value="robot_3/base_link" />
      <param name="local_costmap/global_frame" value="robot_3/odom" />
      <param name="global_costmap/observation_sources" value="robot_3/base_scan" />
      <param name="local_costmap/observation_sources" value="robot_3/base_scan" />
      <param name="global_costmap/obstacle_layer/observation_sources" value="robot_3/base_scan" />
      <param name="local_costmap/obstacle_layer/observation_sources" value="robot_3/base_scan" />
 
    </node>


    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="robot_3/odom" />
      <param name="base_frame_id" value="robot_3/base_link" />
    </node>
</group>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find detached_planner)/cfg/multi_robot.rviz" />

</launch>
